* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}
#container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}

#menu{
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 100%;
    background:#fff;
}
#menu i{
    margin: 5px 10px 5px 20px;
}
.menu-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}
.menu-header:hover{
    cursor: pointer;
}
#menu-header-logo1{
    width: 33px;
    height:31px;
    margin: 5px;
}
#menu-header-logo2{
    width: 139px;
    height:24px;
    margin: 5px;
}
.menu-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    height: 50px;
    color:#54667A;
}

.menu-item:hover{
    background-color: #F4F4F4;
    cursor: pointer;
}


#main{
    width: calc(100% - 240px);
    height: 100%;

}

#nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    Color: #313131;
    background: #2f323e;
}

#nav-bar-search{
    width: 220px;
}
#nav-bar-profile{
    display: flex;
    align-items: center;
    width: 112px;
}
#nav-bar-profile:hover{
    cursor: pointer;
}

#nav-bar-profile img{
    width:36px;
    height:36px;
    border-radius: 50%;
    margin-right: 10px;
}

#nav-bar-profile p {
    color: #ffffff;
    font-size:14px;
}
#nav-bar-search{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-right: 20px;
    width:180px;
    height:30px;
    background-color: rgba(255,255,255,0.9);
    border-radius: 20px;

}

#nav-bar-search input{ 
    border: none;
    width:130px;
    background-color: #ECEBEB;
    
}
#nav-bar-search input:focus{ 
    outline: none;
}

#dashboard{ 
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    height: 60px; 
}

#dashboard-items{
    width:95%;
    display: flex;
    justify-content: space-between;
}
#dashboard-items p{ 
    font-size:18px;
    color:#313131;
    font-weight: bold;
}

#dashboard-items a{ 
    font-size:14px; 
    color:#00000081;
    text-decoration: none;
}

#main-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color:#edf1f5;
    width: 100%;
    height: 100%;
    opacity: 0.9;
}

.menu-box-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    width: 30%;
}
.menu-box-items > p {
    font-size:18px;
    font-weight: bold;
    padding: 15px;
}

.menu-box-items span{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-box-items img{
    margin: 10px;
    width:67px;
    height:37px;
}

#main-box-container{
    display: flex;
    justify-content: space-between;
    height: 30%;
    margin:25px 20px 25px 20px;
}
.green{
    margin: 10px;
    font-size:24px; 
    color: #7ACE4C;
}
.purple{
    margin: 10px;
    font-size:24px;
    color: #707CD2;
}
.blue{
    margin: 10px;
    font-size:24px;
    color: #2CABE3;
}

#product-sales{
    height:560px;
    background-color: #fff;
    margin:0px 20px 25px 20px;
}
#product-sales-text{
    display: flex;
    align-items: center;
    height: 18%;
}
#product-sales-text p {
    margin: 30px;
    font-size:18px;
    font-weight: bold;
}

#product-sales-data{
    display: flex;
    justify-content: flex-end;
}
#product-sales-data{
    margin-right: 25px;
    display: flex;
    align-items: center;
    height: 11%;
}
#product-sales-data p{
    font-size:16px;
    margin: 8px;
}
.product-sales-data-item{
    display: flex;
    align-items: center;
    margin:5px;
}

#product-sales-plot{

}
