* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

#menu{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    width: 20%;
    height: 100%;
}
.menu-item {
    border: 1px solid green;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#main{
    border:1px solid black;
    width: 80%;
    height: 100%;
}