* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans';
}
#container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

#menu{
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 100%;
    background:#fff;
}
#menu i{
    margin: 5px 10px 5px 20px;
}
.menu-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}
#menu-header-logo1{
    width: 33px;
    height:31px;
    margin: 5px;
}
#menu-header-logo2{
    width: 139px;
    height:24px;
    margin: 5px;
}
.menu-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    height: 50px;
    color:#54667A;
}

.menu-item:hover{
    background-color: #F4F4F4;
}


#main{
    width: calc(100% - 240px);
    height: 100%;
}

#nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    Color: #313131;
    background: #2f323e;
}

#nav-bar-search{
    width: 220px;
}
#nav-bar-profile{
    display: flex;
    align-items: center;
    width: 112px;
}
#nav-bar-profile:hover{
    cursor: pointer;
}

#nav-bar-profile img{
    width:36px;
    height:36px;
    border-radius: 50%;
    margin-right: 10px;
}

#nav-bar-profile p {
    color: #ffffff;
    font-size:14px;
}
#nav-bar-search{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-right: 20px;
    width:180px;
    height:30px;
    background-color: rgba(255,255,255,0.9);
    border-radius: 20px;

}

#nav-bar-search input{ 
    border: none;
    width:130px;
    background-color: #ECEBEB;
    
}
#nav-bar-search input:focus{ 
    outline: none;
}
